<div class="pb-5 row" ng-init="init()">
    <div class="container">
        <div class="col-12 text-center">
            <h4 class="pt-3 m-0 c-dark">Inventors/Inventions Database</h4>
            <p class="pb-5 m-0 font-weight-light font-italic c-light">Content is fetched from Wikipedia and it can
                break/stop
                working at
                any time.</p>
            <div class="mt-3 pb-1 row justify-content-between animationIf border-bottom" ng-show="result.length > 0">
                <div class="col-md-6 col-sm-12 p-2">
                    <h6 class="m-0 c-light d-inline-block">Successfully
                        fetched (<span class="text-danger">{{result.length}}</span>)
                        inventors/inventions.
                    </h6>
                </div>
                <div class="col-md-6 col-sm-12 p-2">
                    <input type="text" class="ml-3 pl-4" ng-model="searchText"
                        placeholder="Search an inventor or invention" />
                </div>
            </div>
            <div class="mt-4 text-left animationIf" ng-repeat="item in result | filter: searchText track by $index">
                <div>
                    <span class="text-danger">Inventor: </span>
                    <span class="m-0" ng-bind="item.inventor"></span>
                </div>
                <div>
                    <span class="text-danger">Country: </span>
                    <span class="m-0" ng-bind="item.country"></span>
                </div>
                <div>
                    <span class="text-danger">Born: </span>
                    <span class="m-0" ng-bind="item.born"></span>
                </div>
                <div>
                    <span class="text-danger">Invention: </span>
                    <span class="m-0" ng-bind="item.invention"></span>
                </div>
            </div>
        </div>
    </div>
</div>